{% extends "admin_panel/base.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <small class="text-muted">{{ object.date | date:"F d, Y"}}</small>
            <div>
                <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'news-update' object.id %}">Update</a>
                <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'news-delete' object.id %}">Delete</a>
            </div>
        </div>
        <h2 class="article-title">{{ object.label }}</h2>
        <p class="article-content">{{ object.url }}</p>
      </div>
    </article>
{% endblock content %}
